*{
    box-sizing: border-box;
}
body{
    /*background-color: #0C969C;*/
    margin:0px;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



header{
    height: 50px;
    color:rgb(5, 5, 5);
    text-align: center;
}

nav{
    height: 30px;
    background-color: #5992a377;
    text-align: center;
    display: block;
}

nav ul{
    margin:0px;
}


nav li{
    display:inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 30px;
    
}

nav a{
    color:white;
    padding:5em;
    text-decoration:none;
}

li:hover{
    background-color: #6ba3be;
}





