h1{
    text-align: center;
}

.navbar ul{
    list-style-type:none;
    text-decoration:none;
    background-color: gray;
    padding:0px;
    margin:0px;
    overflow: hidden;

}

.navbar a{
    text-decoration: none;
    margin:0px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: red;
}

.navbar li{
    float:left;
}

footer{
    color:yellow;
    background-color:aqua;
    font-size:20px;
    border:red;
    border-style: solid;
}