body{
    
    margin:0px;

}

.box{

    border: 5px solid red;
    font-size:5em;
    width:250px;
    height:250px;
}

#box1{

    background-color:blue;
    margin-left:30px;
    margin-right:40px;
    margin-top: 50px;
    margin-bottom:10pxaa;
}

#box2{

    background-color:yellow;

    /* margin set to auto makes the box stay at the center of the page */
    
    margin:auto;
}