body{

    background-image: url(/background\ images/background.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

h4{

    color:rgb(0, 255, 251)
    
}

p{

    color:yellow;
}