a:link{

    color:lightblue
}

a:hover{
    color:darkblue;
    font-size:1.3em;
}

a:active{
    color:turquoise;
    font-size:1.4em;
}

a:visited{
    color:red;
}

li:hover{
    background-color: yellow;
}

li:not(:hover){
    background-color: brown;
}

li:nth-child(2n+1){
    background-color: greenyellow;
}

#greetings h2{
    border: 2px;
    border-style: solid;
    border-color:aqua;
}

#greetings p{
    display: none;
}

#greetings:hover p{
    display:block;
}